.protest-riot-regular {
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .button {
    background-color: #ffffff00;
    color: #000000;
    width: 11em;
    height: 3em;
    border: #3654ff 0.2em solid;
    border-radius: 11px;
    text-align: right;
    transition: all 0.6s ease;
  }
  
  .button:hover {
    background-color: #3654ff;
    cursor: pointer;
  }
  
  .button svg {
    width: 1.6em;
    margin: -0.2em 0.8em 1em;
    position: absolute;
    display: flex;
    transition: all 0.6s ease;
  }
  
  .button:hover svg {
    transform: translateX(5px);
  }
  
  .text {
    margin: 0 1.5em
  }
  body, html {
    height: 100%;
    width: 100%;
    margin: 0;
  }
  .imgresize {
    width: calc(40% + 15rem);
  }
  
@media (max-width: 768px) {
  .mobileres {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  }
}
.mobileres {
  text-align: center;
}
.annapurna-sil-bold {
  font-family: "Annapurna SIL", serif;
  font-weight: 700;
  font-style: normal;
}
.hov:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
 }