.protest-riot-regular {
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .cssbuttons-io-button {
    background: #a370f0;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #714da6;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
    left: 50%;
  }
  
  .cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
    right: 0.3em;
    transition: all 0.3s;
  }
  
  .cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
  }
  
  .cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #7b52b9;
  }
  
  .cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
  }
  
  .cssbuttons-io-button:active .icon {
    transform: scale(0.95);
  }
  
  body, html {
    height: 100%;
    width: 100%;
    margin: 0;
  }
  .imgresize {
    width: calc(7rem + 4vw);
  }
  .imgresizes {
    width: calc(40% + 15rem);
  }
  
@media (max-width: 768px) {
  .mobileres {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  }
}
.mobileres {
  text-align: center;
}
.annapurna-sil-bold {
  font-family: "Annapurna SIL", serif;
  font-weight: 700;
  font-style: normal;
}
.hov:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
 }
.ires {
  width: calc(4rem + 1.2vw);
}
.tr {
  font-size: calc(0.8rem + 1.2vw);
}